---
const { option, value, index } = Astro.props;

const attributeId = JSON.stringify(option?.attribute_id);

const valueId = JSON.stringify(value?.id);
const data = JSON.stringify({ ...value, option });

const checked = `selected(${attributeId}, ${valueId})`;
const handleSelect = `handleSelect(${attributeId},${data})`;
---

<button
  class="px-4 py-2 rounded-lg cursor-pointer"
  :class=`${checked} ? 'bg-blue-500 hover:bg-blue-600 text-white' : 'bg-gray-50 text-gray-800 hover:bg-gray-100'`
  @click=`scrollTo(${index}); ${handleSelect}`
>
  {value?.name}
</button>
