---
export const prerender = false;
import HomeCarousel from "@/components/banner-carousel";
import ProductCard from "@/components/product-card.astro";
import Main from "@/layouts/main.astro";
import { IMAGE_COLLECTION, pb, PRODUCT_COLLECTION } from "@/lib/pocketbase";
import {
  BadgePercentIcon,
  DollarSignIcon,
  HeadphonesIcon,
  TruckIcon,
} from "lucide-react";

async function fetchBanners() {
  try {
    const response = await pb.collection(IMAGE_COLLECTION).getFullList({
      filter: `type="banner"`,
      perPage: 5,
    });

    if (!Array.isArray(response)) {
      return { banners: [], error: "Invalid banners response format" };
    }

    return { data: response, error: null };
  } catch (error) {
    return { data: [], error: error };
  }
}

async function fetchLatestProducts() {
  try {
    const response = await pb.collection(PRODUCT_COLLECTION).getFullList({
      fields: "id,name,gallery,price,slug,discount,expand.thumbnail",
      expand: "thumbnail",
      sort: "-created",
    });

    if (!response || !Array.isArray(response)) {
      return { data: [], error: "Invalid products response format" };
    }

    return { data: response, error: null };
  } catch (error) {
    return { data: [], error: error };
  }
}

const { data: banners } = await fetchBanners();
const { data: latestProducts } = await fetchLatestProducts();
---

<Main title="Trang chủ">
  <HomeCarousel client:load data={banners || []} />
  <div class="max-w-6xl mx-auto px-2 md:px-0">
    <div class="h-16"></div>
    <section class="grid grid-cols-4 gap-2">
      <div class="col-span-2 lg:col-span-1">
        <div
          class="flex bg-gray-50 items-center justify-center gap-2 py-4 px-4 rounded-md"
        >
          <TruckIcon size={32} strokeWidth={1} />
          <div>
            <p class="font-semibold text-sm">Miễn phí vận chuyển</p>
            <p class="text-gray-500 text-xs">Contact us 24 hours a day</p>
          </div>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <div
          class="flex bg-gray-50 items-center justify-center gap-2 py-4 px-4 rounded-md"
        >
          <DollarSignIcon size={32} strokeWidth={1} />
          <div>
            <p class="font-semibold text-sm">Đổi trả & hoàn tiền</p>
            <p class="text-gray-500 text-xs">Contact us 24 hours a day</p>
          </div>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <div
          class="flex bg-gray-50 items-center justify-center gap-2 py-4 px-4 rounded-md"
        >
          <BadgePercentIcon size={32} strokeWidth={1} />
          <div>
            <p class="font-semibold text-sm">Giảm giá</p>
            <p class="text-gray-500 text-xs">Contact us 24 hours a day</p>
          </div>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <div
          class="flex bg-gray-50 items-center justify-center gap-2 py-4 px-4 rounded-md"
        >
          <HeadphonesIcon size={32} strokeWidth={1} />
          <div>
            <p class="font-semibold text-sm">Hỗ trợ 24/7</p>
            <p class="text-gray-500 text-xs">Contact us 24 hours a day</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="flex justify-between my-8">
        <h3 class="text-xl font-bold">Mới nhất</h3>
        <a href="/" class="text-blue-500 font-semibold text-sm hover:underline"
          >xem thêm</a
        >
      </div>
      {
        Number(latestProducts?.length) > 0 && (
          <div class="grid grid-cols-2 md:grid-cols-4 md:gap-6 gap-2">
            {latestProducts?.map((item) => (
              <a href={`/san-pham/${item?.slug}`}>
                <ProductCard
                  id={item?.id}
                  name={item?.name}
                  thumbnail={item?.expand?.thumbnail}
                  price={item?.price}
                  discount={item?.discount}
                  slug={item?.slug}
                />
              </a>
            ))}
          </div>
        )
      }
    </section>

    <div class="h-16"></div>
  </div>
</Main>
