---
export const prerender = false;

import FreeShipIcon from "@/assets/free-ship.svg";
import LocationIcon from "@/assets/location.svg";
import PhoneIcon from "@/assets/phone.svg";
import ReturnIcon from "@/assets/return-60.svg";
import ImageCarousel from "@/components/product/image-carousel.astro";
import OptionButton from "@/components/product/option-button.astro";
import OptionText from "@/components/product/option-text.astro";
import ProductCard from "@/components/product/product-card.astro";
import Footer from "@/layouts/footer.astro";
import Main from "@/layouts/main.astro";
import {
  IMAGE_COLLECTION,
  pb,
  PRODUCT_COLLECTION,
  PRODUCT_VARIANT_ATTRIBUTES_COLLECTION,
} from "@/lib/pocketbase";
import {
  convertImageUrl,
  formatVND,
  groupByAttributes,
  groupByVariant,
} from "@/lib/utils";
import "@/styles/content.css";
import Minus from "@lucide/astro/icons/minus";
import Plus from "@lucide/astro/icons/plus";
import ShareIcon from "@lucide/astro/icons/share";
import ShoppingCartIcon from "@lucide/astro/icons/shopping-cart";
import { Image } from "astro:assets";

const { slug } = Astro.params;

async function getProduct(slug?: string) {
  if (!slug) return null;
  try {
    return await pb
      .collection(PRODUCT_COLLECTION)
      .getFirstListItem(`slug="${slug}"`, {
        expand: "category, thumbnail",
      });
  } catch (error) {
    return null;
  }
}

async function getRelateProduct(product_id?: string, category_id?: string) {
  try {
    return await pb.collection(PRODUCT_COLLECTION).getList(1, 4, {
      filter: `id!="${product_id}"&&category="${category_id}"`,
      expand: "thumbnail",
    });
  } catch (error) {
    return null;
  }
}

async function getProductOptions(id?: string) {
  try {
    return await pb
      .collection(PRODUCT_VARIANT_ATTRIBUTES_COLLECTION)
      .getFullList({
        filter: `variant.product="${id}"`,
        expand: "variant,attribute,attribute_value",
        sort: "-attribute.order",
      });
  } catch (error) {
    return null;
  }
}

async function getImages(productId?: string) {
  try {
    return await pb.collection(IMAGE_COLLECTION).getFullList({
      filter: `product="${productId}"||variant.product="${productId}"`,
    });
  } catch (error) {
    return null;
  }
}

const product = await getProduct(slug);
const relateProducts = await getRelateProduct(product?.id, product?.category);
const optionData = await getProductOptions(product?.id);
const images = await getImages(product?.id);

const options = groupByAttributes(optionData ?? []);
const variants = groupByVariant(optionData ?? []);

const cheapProduct = variants?.[0]?.variant;
const expensiveProduct = variants?.[variants?.length - 1]?.variant;

const galleryData = images?.map((item) => ({
  id: item?.variant,
  image: convertImageUrl(item) || "",
}));

const cartData = JSON.stringify({
  id: product?.id,
  name: product?.name,
  thumbnail: product?.expand?.thumbnail,
});
---

<script>
  import type {
    CartItem,
    CartType,
    OptionType,
    ProductCarouselData,
  } from "@/lib/type";
  import { convertImageUrl, formatVND } from "@/lib/utils";
  import Alpine from "alpinejs";
  import EmblaCarousel from "embla-carousel";

  document.addEventListener("alpine:init", () => {
    Alpine.data(
      "productCarousel",
      (): ProductCarouselData => ({
        embla: null,
        index: 0,
        init() {
          const emblaNode = document.querySelector(".embla");
          if (!emblaNode) {
            return;
          }
          const emblaApi = EmblaCarousel(emblaNode as HTMLElement);

          this.embla = emblaApi;
          this.embla.on("select", (value) => {
            this.index = value.selectedScrollSnap();
          });
        },
        scrollTo(index, jump) {
          this.embla?.scrollTo(index, jump);
        },
      })
    );

    Alpine.data(
      "options",
      (variants: any[]): OptionType => ({
        passed: false,
        variant: null,
        options: new Map<string, any>(),
        quantity: 1,
        $refs: { target: null! },
        disabled: variants.length > 1,
        handleSelect(option_id: string, data: any) {
          this.options.set(option_id, data);

          const valueIds = Array.from(this.options.entries()).map(
            ([_, data]) => data.id
          );

          const arraysMatch = (arr1: string[], arr2: string[]) => {
            return (
              arr1.length === arr2.length &&
              arr1.every((item: string) => arr2.includes(item))
            );
          };

          const variant = variants.find((item) =>
            arraysMatch(item.values, valueIds)
          );

          if (!variant) {
            this.variant = {};
            this.disabled = true;
            return;
          }

          this.disabled = false;

          this.variant = {
            id: variant?.variant?.id,
            name: variant?.variant?.name,
            price: variant?.variant?.price,
            formatPrice: formatVND(variant?.variant?.price),
            formatPriceDiscount: formatVND(
              variant?.variant?.price * (1 - variant?.variant?.discount)
            ),
            discount: variant?.variant?.discount,
          };
        },
        selected(option_id: string, value_id: string) {
          return this.options.get(option_id)?.id == value_id;
        },
        checkScroll() {
          const el = this?.$refs.target;
          if (!el) return;
          const rect = el?.getBoundingClientRect();
          this.passed = rect.top < 0;
        },
        handleAddToCart(item: CartItem) {
          const cart = Alpine.store("cart") as CartType;

          const options = Array.from(this.options.entries()).map(
            ([_, data]) => ({
              value_name: data.name,
              value_id: data.id,
              attribute_name: data.option.attribute_name,
              attribute_id: data.option.attribute_id,
            })
          );

          cart.addToCart({
            id: item.id,
            name: item.name,
            variant: { id: this.variant?.id },
            options,
            price: this.variant?.price,
            discount: this.variant?.discount,
            thumbnail: convertImageUrl(item?.thumbnail),
            slug: this.variant?.slug,
            quantity: this.quantity,
          });
        },
      })
    );
  });
</script>
<Main title={product?.name}>
  <div>
    <div class="lg:max-w-7xl mx-auto">
      <div class="mt-10 mb-6">
        <nav
          class="text-sm text-on-surface dark:text-on-surface-dark"
          aria-label="breadcrumb"
        >
          <ol class="flex flex-wrap items-center gap-1">
            <li class="flex items-center gap-1.5">
              <a
                href="/"
                aira-label="home"
                class="hover:text-on-surface-strong dark:hover:text-on-surface-dark-strong"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  aria-hidden="true"
                  class="size-4"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"
                  ></path>
                </svg>
              </a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                aria-hidden="true"
                stroke-width="2"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
              </svg>
            </li>
            <li class="flex items-center gap-1">
              <a
                href={`/danh-muc/${product?.expand?.category?.slug}`}
                class="hover:text-on-surface-strong dark:hover:text-on-surface-dark-strong"
                >{product?.expand?.category?.name}</a
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                aria-hidden="true"
                stroke-width="2"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
              </svg>
            </li>
            <li
              class="flex items-center gap-1 text-on-surface-strong dark:text-on-surface-dark-strong"
              aria-current="page"
            >
              {product?.name}
            </li>
          </ol>
        </nav>
      </div>
      <div class="grid grid-cols-12 gap-10" x-data="productCarousel">
        <div class="col-span-12 lg:col-span-6">
          <div class="flex gap-2">
            <div class="flex flex-col gap-2">
              {
                galleryData?.map((item, index) => (
                  <ImageCarousel src={item?.image} index={index} />
                ))
              }
            </div>
            <div class="embla">
              <div class="embla__container">
                {
                  galleryData?.map((item: any) => (
                    <div class="embla__slide">
                      <Image
                        class="h-[790px] rounded object-cover w-full"
                        height={100}
                        width={100}
                        src={item?.image ?? ""}
                        alt="slide"
                        loading="eager"
                      />
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-span-12 lg:col-span-6 space-y-4 px-4 lg:px-0"
          x-data=`options(${JSON.stringify(variants)})`
          x-init="window.addEventListener('scroll', () => checkScroll())"
        >
          <div class="space-y-1">
            <div>
              <h1 class="font-bold inline text-2xl">{product?.name}</h1>
              <button class="cursor-pointer ml-2">
                <ShareIcon size={16} stroke-width={2} />
              </button>
            </div>
            <hr class="border-t my-8" />
            <div x-show="variant?.id">
              <p class="text-gray-600 text-sm">
                <span class="line-through" x-text="variant?.formatPrice">
                </span>
              </p>
              <span
                class="font-bold text-3xl"
                x-text="variant?.formatPriceDiscount"
              >
              </span>
              <span
                x-cloak
                x-show="variant?.discount"
                x-text="`-${variant?.discount*100}%`"
                class="font-bold text-white bg-blue-500 px-1 py-1 rounded-2xl"
              >
              </span>
            </div>
            <div x-show="!variant?.id">
              {
                Number(variants?.length) > 1 ? (
                  <div>
                    {Number(cheapProduct?.discount) > 0 &&
                      Number(expensiveProduct?.discount) > 0 && (
                        <p class="text-gray-600 text-sm line-through">
                          <span>{formatVND(cheapProduct?.price)}</span>
                          <span> - </span>
                          <span>{formatVND(expensiveProduct?.price)}</span>
                        </p>
                      )}
                    <span class="font-bold text-3xl">
                      <span>
                        {formatVND(
                          cheapProduct?.price * (1 - cheapProduct?.discount)
                        )}
                      </span>
                      <span> - </span>
                      <span>
                        {formatVND(
                          expensiveProduct?.price *
                            (1 - expensiveProduct?.discount)
                        )}
                      </span>
                    </span>
                    {Number(cheapProduct?.discount) > 0 && (
                      <span class="font-bold text-white bg-blue-500 px-1 py-1 rounded-2xl">
                        -{cheapProduct?.discount * 100}%
                      </span>
                    )}
                  </div>
                ) : (
                  <div>
                    {product?.discount > 0 && (
                      <p class="text-gray-600 text-sm">
                        <span class="line-through">
                          {formatVND(product?.price)}
                        </span>
                      </p>
                    )}
                    <span class="font-bold text-3xl">
                      {formatVND(
                        product?.price - product?.price * product?.discount
                      )}
                    </span>
                    <span class="font-bold text-white bg-blue-500 px-1 py-1 rounded-2xl">
                      -{product?.discount * 100}%
                    </span>
                  </div>
                )
              }
            </div>
          </div>

          <div class="text-gray-600">
            {
              options?.map((item: any) => (
                <div class="space-y-4 mt-4">
                  <div>
                    <span class="">{item?.attribute_name}</span>
                    <OptionText option_id={item?.attribute_id} />
                  </div>
                  <div class="space-x-4">
                    {item?.values?.map((value: any) => {
                      const index = galleryData?.findIndex(
                        (item) => item.id == value.variant.id
                      );
                      return (
                        <OptionButton
                          index={index}
                          value={value}
                          option={item}
                        />
                      );
                    })}
                  </div>
                </div>
              ))
            }
          </div>

          <div class="text-gray-600">
            <span>Số lượng</span>
            <div
              class="flex items-center my-4 bg-gray-50 w-fit py-2 px-4 rounded"
            >
              <button
                class="cursor-pointer"
                @click="quantity > 1 && (quantity -= 1)"
              >
                <Minus size={16} />
              </button>
              <span class="w-16 text-center" x-text="quantity"></span>
              <button class="cursor-pointer" @click="quantity += 1">
                <Plus size={16} />
              </button>
            </div>
          </div>

          <button
            x-cloak
            @click=`handleAddToCart(${cartData})`
            :disabled="disabled"
            class="flex justify-center items-center gap-2 bg-blue-500 disabled:bg-gray-500 py-3 cursor-pointer disabled:cursor-default hover:bg-blue-600 rounded-full text-white font-bold w-full"
          >
            <ShoppingCartIcon size={16} />
            Thêm vào giỏ</button
          >
          <p class="text-center my-4">
            <a href="#description" class="underline font-bold">Mô tả sản phẩm</a
            >
          </p>
          <hr class="border-t" />

          <div
            class="grid grid-cols-2 bg-gray-50 rounded-lg h-32 mt-2 text-sm px-4 py-2 text-gray-800 gap-4"
          >
            <div class="flex items-center gap-4">
              <Image
                src={FreeShipIcon}
                alt=""
                height={100}
                width={100}
                class="size-10"
              />
              <span>Free ship cho đơn từ 200k</span>
            </div>
            <div class="flex items-center gap-4">
              <Image
                src={ReturnIcon}
                alt=""
                height={100}
                width={100}
                class="size-10"
              />
              <span>60 ngày đổi trả vì bất kỳ lý do gì</span>
            </div>
            <div class="flex items-center gap-4">
              <Image
                src={PhoneIcon}
                alt=""
                height={100}
                width={100}
                class="size-10"
              />
              <span>Hotline hỗ trợ từ 8h30 - 22h</span>
            </div>
            <div class="flex items-center gap-4">
              <Image
                src={LocationIcon}
                alt=""
                height={100}
                width={100}
                class="size-10"
              />
              <span>Đến tận nơi nhận hàng trả, hoàn tiền trong 24h</span>
            </div>
          </div>
          <div x-ref="target"></div>
          <div
            x-cloak
            x-show="passed"
            class="fixed top-0 start-0 end-0 bg-white z-50 shadow-lg"
          >
            <div class="max-w-7xl mx-auto">
              <div class="flex justify-between">
                <div class="flex items-center py-4 max-w-72 gap-2">
                  <Image
                    height={100}
                    width={100}
                    alt=""
                    src={convertImageUrl(product?.expand?.thumbnail) ?? "/"}
                    loading="lazy"
                    class="w-18 h-24 rounded-md object-cover"
                  />
                  <div>
                    <p class="line-clamp-1 font-bold">{product?.name}</p>
                    <div x-show="variant?.id">
                      <p class="text-gray-600 text-xs">
                        <span
                          class="line-through"
                          x-text="variant?.formatPrice"
                        >
                        </span>
                      </p>
                      <span
                        class="font-bold"
                        x-text="variant?.formatPriceDiscount"
                      >
                      </span>
                      <span
                        x-show="variant?.discount"
                        x-text="`-${variant?.discount*100}%`"
                        class="font-bold text-white bg-blue-500 text-xs p-1 rounded-2xl"
                      >
                      </span>
                    </div>
                    <div x-show="!variant?.id">
                      {
                        Number(variants?.length) > 1 ? (
                          <div>
                            {Number(cheapProduct?.discount) > 0 &&
                              Number(expensiveProduct?.discount) > 0 && (
                                <p class="text-gray-600 text-xs line-through">
                                  <span>{formatVND(cheapProduct?.price)}</span>
                                  <span> - </span>
                                  <span>
                                    {formatVND(expensiveProduct?.price)}
                                  </span>
                                </p>
                              )}
                            <span class="font-bold">
                              <span>
                                {formatVND(
                                  cheapProduct?.price *
                                    (1 - cheapProduct?.discount)
                                )}
                              </span>
                              <span> - </span>
                              <span>
                                {formatVND(
                                  expensiveProduct?.price *
                                    (1 - expensiveProduct?.discount)
                                )}
                              </span>
                            </span>
                            {Number(cheapProduct?.discount) > 0 && (
                              <span class="font-bold text-white bg-blue-500 p-1 text-xs rounded-2xl">
                                -{cheapProduct?.discount * 100}%
                              </span>
                            )}
                          </div>
                        ) : (
                          <div>
                            {product?.discount > 0 && (
                              <p class="text-gray-600 text-xs">
                                <span class="line-through">
                                  {formatVND(product?.price)}
                                </span>
                              </p>
                            )}
                            <span class="font-bold">
                              {formatVND(
                                product?.price -
                                  product?.price * product?.discount
                              )}
                            </span>
                            <span class="font-bold text-white bg-blue-500 p-1 text-xs rounded-2xl">
                              -{product?.discount * 100}%
                            </span>
                          </div>
                        )
                      }
                    </div>
                  </div>
                </div>

                {
                  options?.map((item: any) => (
                    <div class="flex items-center border-l px-4">
                      <div class="space-y-2 text-sm">
                        <div>
                          <span>{item?.attribute_name}</span>
                          <OptionText option_id={item?.attribute_id} />
                        </div>
                        <div class="space-x-2">
                          {item?.values?.map((value: any) => {
                            const index = galleryData?.findIndex(
                              (item) => item.id == value.variant.id
                            );
                            return (
                              <OptionButton
                                index={index}
                                value={value}
                                option={item}
                              />
                            );
                          })}
                        </div>
                      </div>
                    </div>
                  ))
                }

                <div class="flex items-center border-l px-4">
                  <div
                    class="flex items-center my-4 bg-gray-50 w-fit py-2 px-4 rounded-lg mr-4"
                  >
                    <button
                      class="cursor-pointer"
                      @click="quantity > 1 && (quantity -= 1)"
                    >
                      <Minus size={16} />
                    </button>
                    <span class="w-16 text-center" x-text="quantity"></span>
                    <button class="cursor-pointer" @click="quantity += 1">
                      <Plus size={16} />
                    </button>
                  </div>
                  <button
                    x-cloak
                    @click=`handleAddToCart(${cartData})`
                    :disabled="disabled"
                    class="flex gap-2 cursor-pointer disabled:cursor-default items-center bg-blue-500 hover:bg-blue-600 disabled:bg-gray-500 rounded-full font-bold text-white px-16 py-2"
                  >
                    <ShoppingCartIcon size={16} />
                    Thêm vào giỏ</button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8" x-data="{ tab: 0 }">
      <div class="flex lg:max-w-7xl mx-auto font-semibold text-gray-700">
        <button
          type="button"
          class="cursor-pointer px-6 py-2 hover:bg-gray-50"
          :class="tab == 0 ? 'bg-gray-50' : ''"
          @click="tab = 0">Thông tin sản phẩm</button
        >
        <button
          type="button"
          class="cursor-pointer px-6 py-2 hover:bg-gray-50"
          :class="tab == 1 ? 'bg-gray-50' : ''"
          @click="tab = 1">Đánh giá</button
        >
      </div>
      <div
        x-cloak
        x-show="tab == 0"
        id="description"
        x-data="{ expanded: false }"
        class="py-8 relative"
        :class="expanded ? '' : 'overflow-hidden'"
      >
        <h1 class="uppercase font-bold text-center text-xl">Mô tả sản phẩm</h1>
        <div
          class="flex justify-center z-60 left-1/2 -translate-x-1/2 w-fit absolute bottom-32"
          :class="expanded ? 'sticky top-[400px]' : ''"
        >
          <button
            @click="expanded = !expanded"
            class="bg-gray-50 hover:opacity-90 px-4 py-2 rounded-full cursor-pointer text-sm"
            :class="expanded ? 'opacity-20' : 'opacity-90'"
            x-text="expanded ? 'Thu gọn' : 'Xem thêm'"></button>
        </div>

        <div
          class="max-w-7xl mx-auto prose"
          :style="expanded ? '' : 'max-height: 2000px;'"
        >
          <div class="content" set:html={product?.description} />
        </div>
        <div
          x-show="!expanded"
          class="absolute bottom-0 left-0 z-40 right-0 h-96 bg-gradient-to-t from-white to-transparent"
        >
        </div>
      </div>
      <div class="py-8" x-cloak x-show="tab == 1">
        <h1 class="uppercase font-bold text-center text-xl">
          Đánh giá sản phẩm
        </h1>
      </div>
    </div>

    <section class="max-w-7xl mx-auto mt-16">
      <h3 class="font-bold text-xl mb-8">Sản phẩm liên quan</h3>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
        {
          relateProducts?.items?.map((item) => (
            <ProductCard
              isBtn
              data={{
                id: item?.id,
                name: item?.name,
                price: item?.price,
                discount: item?.discount,
                slug: `/san-pham/${item?.slug}`,
                thumbnail: convertImageUrl(item?.expand?.thumbnail),
                options: item?.options,
              }}
            >
              <Image
                slot="image"
                width={100}
                height={100}
                src={convertImageUrl(item?.expand?.thumbnail) ?? "/"}
                loading="lazy"
                alt={item?.name ?? "product_image"}
                class="aspect-square w-full bg-gray-200 object-cover group-hover:scale-105 xl:aspect-1/1 transition-all duration-300 ease-in-out"
              />
            </ProductCard>
          ))
        }
      </div>
    </section>
  </div>
  <Footer slot="footer" />
</Main>

<style>
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  [x-cloak] {
    display: none;
  }
</style>
