---
export const prerender = false;
import ProductCard from "@/components/product/product-card.astro";
import Main from "@/layouts/main.astro";
import { CATEGORY_COLLECTION, pb, PRODUCT_COLLECTION } from "@/lib/pocketbase";

const { slug } = Astro.params;

async function getProductsByCategorySlug(
  slug?: string,
  page = 1,
  perPage = 20
) {
  try {
    const category = await pb
      .collection(CATEGORY_COLLECTION)
      .getFirstListItem(`slug = "${slug}"`);

    if (!category?.id) {
      throw new Error("Category not found");
    }

    const products = await pb
      .collection(PRODUCT_COLLECTION)
      .getList(page, perPage, {
        filter: `category = "${category.id}"`,
      });

    return { category, products };
  } catch (error) {
    throw error;
  }
}

const { category, products } = await getProductsByCategorySlug(slug);
---

<Main title={category?.name}>
  <div class="max-w-6xl mx-auto">
    <h3 class="text-xl font-bold">{category?.name}</h3>
    <div class="h-4"></div>
    {
      Number(products?.totalItems) > 0 ? (
        <div class="grid grid-cols-4 gap-2">
          {products?.items.map((item) => (
            <a href={`/san-pham/${item?.slug}`}>
              <ProductCard />
            </a>
          ))}
        </div>
      ) : (
        <p class="text-sm text-center text-gray-500">Chưa có sản phẩm</p>
      )
    }
  </div>
</Main>
