---
export const prerender = false;
import ProductCard from "@/components/product-card";
import Main from "@/layouts/main.astro";
import { CATEGORY_COLLECTION, pb, PRODUCT_COLLECTION } from "@/lib/pocketbase";

const { slug } = Astro.params;

const category = await pb
  .collection(CATEGORY_COLLECTION)
  .getFirstListItem(`slug = "${slug}"`);

const products = await pb.collection(PRODUCT_COLLECTION).getList(1, 20, {
  filter: `category = "${category?.id}"`,
});
---

<Main>
  <div class="max-w-6xl mx-auto">
    <h3 class="text-xl font-bold">{category?.name}</h3>
    <div class="grid grid-cols-4 gap-2">
      {
        products?.items.map((item) => (
          <a href={`/san-pham/${item?.slug}`}>
            <ProductCard
              id={item?.id}
              name={item?.name}
              thumbnail={item?.gallery[0]}
              price={item?.price}
              discount={item?.discount}
              slug={item?.slug}
            />
          </a>
        ))
      }
    </div>
  </div>
</Main>
