---
import logo from "@/assets/logo.png";
import SearchInput from "@/components/search-input.astro";
import { FOLDER_COLLECTION, pb } from "@/lib/pocketbase";
import { buildTree } from "@/lib/utils";
import ChevronDownIcon from "@lucide/astro/icons/chevron-down";
import ShoppingCartIcon from "@lucide/astro/icons/shopping-cart";
import UserIcon from "@lucide/astro/icons/user";
import { Image } from "astro:assets";

async function fetchFolders() {
  try {
    const response = await pb.collection(FOLDER_COLLECTION).getFullList({
      sort: "order",
    });
    const data = buildTree(response);
    return { data, error: null };
  } catch (error) {
    return { data: null, error };
  }
}

const { data } = await fetchFolders();
---

<header class="fixed top-0 start-0 end-0 z-40 bg-white">
  <nav>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <a href="/">
            <Image
              height={100}
              width={100}
              class="lg:size-18 size-16 object-cover"
              src={logo}
              alt="logo"
              loading="eager"
            />
          </a>
        </div>
        <div
          class="hidden lg:flex h-[-webkit-fill-available] group items-center group/outer"
        >
          {
            data?.map((item) => (
              <div
                class={`h-full group/inner ${item?.children?.length > 0 ? "peer" : ""}`}
              >
                <div class="h-full hover:cursor-pointer px-4 peer flex items-center">
                  <p class="font-semibold  group-hover/inner:text-blue-500">
                    {item?.name}
                  </p>
                  {item?.children?.length > 0 && (
                    <ChevronDownIcon
                      size={16}
                      class="group-hover/inner:text-blue-500 group-hover/inner:rotate-180 transition duration-200"
                    />
                  )}
                </div>
                {item?.children?.length > 0 && (
                  <div class="hidden group-hover/inner:block absolute top-full start-0 end-0 h-96 z-60 p-4">
                    <div class="grid grid-cols-4">
                      {item?.children?.map((child: any) => (
                        <div>
                          <a
                            href={child?.link}
                            class="font-bold uppercase hover:text-blue-600"
                          >
                            {child?.name}
                          </a>
                          <div class="mt-4">
                            {child?.children?.map((item: any) => (
                              <a
                                href={item?.link}
                                class="text-gray-600 text-sm  hover:text-blue-600"
                              >
                                {item?.name}
                              </a>
                            ))}
                          </div>
                        </div>
                      ))}
                    </div>
                  </div>
                )}
              </div>
            ))
          }
          <div
            class="transform scale-0 peer-hover:scale-100 shadow-lg border h-96 transition ease-in-out origin-top absolute top-full start-0 end-0 z-50 bg-white rounded-lg mt-1"
          >
          </div>
        </div>

        <div class="flex items-center">
          <SearchInput />
          <a href="/dang-ky" class="px-2 inline" aria-label="Go to Page">
            <UserIcon class="inline" size={18} />
          </a>
          <div class="relative inline" x-data>
            <a href="/gio-hang" class="px-2" aria-label="Go to Page">
              <ShoppingCartIcon size={18} class="inline" />
            </a>
            <span
              x-cloak
              x-show="$store.cart.totalQuantity > 0"
              x-text="$store.cart.totalQuantity"
              class="absolute -right-2 -bottom-2 rounded-full bg-blue-500 text-white font-bold text-xs inline-flex justify-center items-center size-5"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
